:root {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    --grid-min: 300px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    z-index: 9999;
}


.title {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    font-weight: bold;
}

.fa-space-shuttle {
    transform: rotate(-45deg);
    background: linear-gradient(45deg, #47c9fc, #d23591);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    /* background-color: rgb(94, 148, 211); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    max-width: 1200px;
    margin: 150px auto;
}

@media (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.cards {
    background-color: rgb(175, 175, 175);
    display: grid;
    justify-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
}

.card-heading {
    font-size: 2rem;
}

.pictures {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 0.3s;
}

.pictures:hover {
    transform: scale(1.05);
}

.description {
    width: 400px;
    font-size: 1.25rem;
    text-align: center;
}

.like {
    border: none;
    background: rgb(86, 159, 201);
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    transition: 0.3s;
}

.like:hover {
    transform: scale(1.1);
    background: rgb(96, 178, 226);
}

.like:active {
    background: red;
}

.unlike {
    border: none;
    background: rgb(86, 159, 201);
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    transition: 0.3s;
}

.unlike:hover {
    transform: scale(1.1);
    background: rgb(96, 178, 226);
}

.unlike:active {
    background: red;
}